---
import Layout from '../layouts/Layout.astro';
import Description from '../components/Description.astro';
import About from '../components/About.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Description />
		<About />
	</main>
</Layout>
