---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Astro.">
    <div>
        <img src="../src/assets/carrucel.png" />
        <p class="title">El panel del alumno</p>
        <p class="description">
            Una ruleta basada en una escuela para los alumnos <br>
            Desarrollada con Html, CSS y JavaScript
        </p>
        <Button title="Ver" href="https://maxuel09.github.io/Ruleta-equipo-uno/"/>
    </div>


     <div>
        <img src="../src/assets/ecomerce.png" />
        <p class="title">eCollectic</p>
        <p class="description">
            Conectar a una api fake para una tienda<br>
            Desarrollada con React
        </p>
        <Button title="Ver" href="https://e-collectic-maxuel.vercel.app/"/>
    </div>

     <div>
        <img src="../src/assets/todo.png" />
        <p class="title">Traffic Light</p>
        <p class="description">
            Una To-do list basada en un semaforo simple<br>
            Desarrollada con Html, CSS/Boostrap y JavaScript
        </p>
        <Button title="Ver" href="https://maxuel09.github.io/to-list-semaphone/src/index.html"/>
    </div>


     <div>
        <img src="../src/assets/Landing-rust.png" />
        <p class="title">Landing Page-Rust</p>
        <p class="description">
            Una Landing Page basada en Rust con el framework Yew <br>
            Desarrollada con Yew/Rust, Webensamble y JavaScript
        </p>
    </div>
</Layout>


<style>
    img{
        border-radius: 30px;
    }

    .title {
        font-weight: bold;
        font-size: large;
    }
</style>