---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import carrucel from "../assets/carrucel.png";
import ecomerce from "../assets/ecomerce.png";
import todo from "../assets/todo.png";
import landing from "../assets/Landing-rust.png";
---

<Layout title="Welcome to Astro.">
    <div>
        <Image src={carrucel} alt="carrucel" class={"img"} />
        <p class="title">El panel del alumno</p>
        <p class="description">
            Una ruleta basada en una escuela para los alumnos <br>
            Desarrollada con Html, CSS y JavaScript
        </p>
        <Button title="Ver" href="https://maxuel09.github.io/Ruleta-equipo-uno/"/>
    </div>


     <div>
        <Image src={ecomerce} alt="ecomerce" class={"img"} />
        <p class="title">eCollectic</p>
        <p class="description">
            Conectar a una api fake para una tienda<br>
            Desarrollada con React
        </p>
        <Button title="Ver" href="https://e-collectic-maxuel.vercel.app/"/>
    </div>

     <div>
        <Image src={todo} alt="todo" class={"img"} />
        <p class="title">Traffic Light</p>
        <p class="description">
            Una To-do list basada en un semaforo simple<br>
            Desarrollada con Html, CSS/Boostrap y JavaScript
        </p>
        <Button title="Ver" href="https://maxuel09.github.io/to-list-semaphone/src/index.html"/>
    </div>


     <div>
        <Image src={landing} alt="landing" class={"img"} />
        <p class="title">Landing Page-Rust</p>
        <p class="description">
            Una Landing Page basada en Rust con el framework Yew <br>
            Desarrollada con Yew/Rust, Webensamble y JavaScript
        </p>
    </div>
</Layout>


<style>
    .img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .title {
        font-weight: bold;
        font-size: large;
    }
</style>