<div class="about-container">
    <h1 class="title">About me</h1>
    <p>
        Soy un programador Full Stack con experiencia en Node.js, TypeScript, React, MongoDB y MySQL. Mi objetivo es desarrollar aplicaciones web y móviles de alta calidad que ofrezcan una experiencia de usuario excepcional. Con un enfoque en la eficiencia y la escalabilidad, estoy comprometido con la entrega de soluciones que cumplan con las necesidades actuales y futuras de las empresas.
    </p>
    <p>
         Siempre estoy dispuesto a colaborar y aprender para crear soluciones de software de alta calidad que se adapten a las necesidades de los clientes.
    </p>
</div>

<style>
    .title {
        color: #e0e0df;
    }
   .about-container {
       border-radius: 12px;
   }
</style>