---
interface Props {
	title: string;
	href: string;
}

const { href, title,} = Astro.props;
---

<a href={href} target="_blank"><button>{title}</button></a>

<style>
    button {
  width: 110px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  background: none;
  font-size: 1.0em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

</style>