---
interface Props {
    color?: string;
}
---

<button>linkedin</button>

<style>
    button {
  width: 110px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  background: none;
  font-size: 1.0em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #0A66C2;
  color: white;
  font-size: 1.1em;
}
</style>