---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import profile from "../assets/foto_curriculums.jpg";
---

<div class="container_description">
    <div class="description">
        <h1>Maxuel Morillo Cuevas</h1>
        <h2>Full Stack Developer</h2>
        <p>
            Desarrollador fullstack apasionado por la creación de soluciones web
            eficientes y robustas. Comprometido con la innovación y listo para
            aportar a proyectos emocionantes.
        </p>
        <Button title="Linkedin" href="https://www.linkedin.com/in/maxuel-morillo-cuevas/"/>
        <Button title="Github" href="https://github.com/maxuel09"/>
    </div>
    <div class="img-profile">
       <Image src={profile} alt="profile" class={"profile"} />
   </div> 
</div>
<style>

    .description {
        width: 50%;
    }
    .container_description {
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
    }
    .img-profile{
        
    }
   

    .profile {
        width: 250px;
        height: 290px;
        border-radius: 30px;
    }
</style>
