---
import Button from "./Button.astro";
---

<div class="container_description">
    <div class="description">
        <h1>Maxuel Morillo Cuevas</h1>
        <h2>Full Stack Developer</h2>
        <p>
            Desarrollador fullstack apasionado por la creación de soluciones web
            eficientes y robustas. Comprometido con la innovación y listo para
            aportar a proyectos emocionantes.
        </p>
        <Button title="Linkedin" href="https://www.linkedin.com/in/maxuel-morillo-cuevas/"/>
        <Button title="Github" href="https://github.com/maxuel09"/>
    </div>
    <div class="img-profile">
        <!-- aqui ira la img -->
        <img
            class="profile"
            src="../src/assets/foto_curriculums.jpg"
            alt="maxuel"
        />
    </div>
</div>
<style>
    .container_description {
        display: flex;
    }
    .description {
        border: solid 1px white;
        border-radius: 20px;
        width: 400px;
    }

    .profile {
        width: 270px;
        height: 290px;
        border-radius: 30px;
    }
</style>
