<div class="container_header">
    <div class="link-container">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
</div>

<style>
    .title {
        font-size: medium;
    }

    .container_header {
        width: 92%;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        padding: auto;
    }
    

    a {
        text-decoration: none;
        color: #e0e0df;
    }

    a:hover {
        color: #3e3e40;
        transition: all 0.3s;
        font-weight: bold;
    }

    .link-container {
        display: flex;
        width: 300px;
    }
</style>
